<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        height: 4000px;
      }
      img {
        vertical-align: top;
      }
      .box {
        border: 1px solid black;
        position: fixed;
        right: 100px;
        bottom: 100px;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <img src="https://placehold.co/100x120" alt="" />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      reprehenderit error, sit beatae quam doloremque enim nisi tenetur nostrum
      vero corporis dolore. Eveniet sapiente cum id iure dolorum voluptatem et,
      doloribus modi aspernatur itaque veniam rerum error sed reprehenderit
      mollitia quae molestiae saepe qui soluta quia repellat. Ratione reiciendis
      aperiam obcaecati, nam minima aliquid, quidem inventore, autem consectetur
      dolorem rerum quaerat temporibus. Laboriosam, nesciunt unde asperiores
      natus quod necessitatibus error odit minima impedit perspiciatis vero
      placeat sit iure libero dolore corporis sunt, maiores eveniet fugit
      facilis? Cum, perspiciatis harum quas libero sequi optio necessitatibus
      aperiam dolorum vitae itaque minima omnis doloribus! Quia quis neque nemo
      hic fuga harum minus excepturi atque itaque incidunt placeat soluta, illo
      cumque tenetur reiciendis eligendi voluptates quibusdam ratione accusamus.
      Perferendis fuga omnis harum. Nisi laudantium omnis, earum asperiores
      obcaecati assumenda architecto dolorem alias, dolorum cupiditate magnam
      doloribus ea impedit eligendi. Ad incidunt fugiat magni officiis
      perspiciatis consectetur dignissimos accusantium, soluta atque dolore
      laborum, sint, nemo reiciendis tempora nisi. Iste natus eos tempore
      cupiditate sapiente fugiat delectus quos, officiis doloribus vitae
      incidunt iusto laudantium, fuga unde atque cumque culpa veritatis sit
      modi, nesciunt cum voluptatum distinctio est excepturi! Ipsum vero
      voluptate nemo voluptas explicabo voluptatibus veniam ea facere reiciendis
      quo error aspernatur iusto aperiam quos laudantium eveniet quaerat, sunt
      voluptatem, doloribus quia dolorem saepe! Officia nobis nesciunt, veniam
      earum nostrum facere molestiae similique iure ex dolore ducimus tenetur
      dignissimos asperiores ipsum architecto! Eaque minus quis similique.
      Itaque dolorem accusantium unde doloribus, ratione odio magni neque vero
      porro provident. Eaque, sed libero quis laborum amet, eligendi cum
      consectetur aut, quos modi quasi doloribus eius aliquam mollitia labore!
      Impedit blanditiis, expedita laborum aliquam optio sit vero distinctio?
      Saepe corporis quisquam tempore dicta. Pariatur tempore aut eum deserunt
      asperiores illum quia repellendus corrupti hic ratione fugit laboriosam
      velit dolorem nihil, magnam excepturi cumque, recusandae quibusdam atque
      ipsum id fugiat ea officiis. Libero cupiditate doloribus architecto
      incidunt dicta autem ut assumenda, quod suscipit aliquam maiores deleniti
      quam magni alias fugit rem eos laboriosam dolore harum laborum
      consequuntur perferendis beatae quos placeat! Perferendis dolor accusamus
      beatae, doloribus reiciendis doloremque blanditiis ratione optio eum quod
      cumque rem qui ducimus corrupti cum vel soluta ipsum eveniet sint fugit
      velit? Excepturi, quisquam eveniet. Maiores doloribus vero qui, ratione
      eius molestiae praesentium sed eveniet perferendis iusto consequuntur
      consectetur ex blanditiis ipsum in corporis repudiandae voluptatum? Earum
      velit hic ducimus vitae, vel ad culpa ratione maxime harum aliquam,
      laboriosam sed! Consequuntur similique amet unde, ut ipsam quibusdam illo
      saepe, numquam assumenda hic deserunt fugiat omnis aperiam esse tempora
      itaque cupiditate explicabo magnam perferendis? Eius corrupti maiores
      rerum ipsa iste expedita incidunt itaque voluptates obcaecati deserunt
      possimus animi, blanditiis distinctio iusto fugiat, corporis totam natus
      velit eaque voluptatem excepturi vitae esse accusamus voluptas. Est,
      laboriosam tempora. Suscipit dolores autem eveniet repellat accusantium.
      Placeat saepe illo, mollitia necessitatibus dolores magnam nostrum,
      inventore architecto soluta a doloribus consequuntur similique porro
      numquam facilis, ullam aperiam? Eligendi animi iure reprehenderit quis,
      sed quos neque repellendus aperiam odio sit mollitia veniam deserunt.
    </p>
  </body>
</html>
